.App-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}
table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

main {
  display: flex;
}

td, th {
  padding: 5px 10px;
  border: 1px solid gray;
}

th, a, h1, button, label {
  text-transform: capitalize;
}

a {
  padding: 5px 10px;
}
form {
  display: flex;
  flex-direction: column;
}
.task-create {
  flex: 1;
  margin-left: 20px;
}
.task-list {
  flex: 2;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-weight: bold;
}
input, button, textarea {
  padding: 5px 10px;
}
.error {
  display: block;
  padding: 2px 5px;
  border-radius: 2px;
  color: red;
  font-weight: 400;
  font-size: 12px;
  text-transform: none;
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  column-gap: 5px;
}
.filter {
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
h1 a {
  text-decoration: none;
}
.login {
  margin: 0 auto;
  width: 400px;
}
.pen {
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
}